body {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #0d3e0a43;
  background-image: url("images/jungle.jpeg");
  background-blend-mode: multiply;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 36px;
  font-family: "Luckiest Guy", cursive;
  padding-bottom: 50px;
  color: white;
  text-shadow: 2px 2px #00782c;
  padding-left: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 0px;
  gap: 10px;
  text-shadow: none;
}

li {
  font-size: 18px;
  font-family: sans-serif;
  padding: 10px;
}

.about {
  font-size: 50px;
  margin: 0px;
}

.info {
  display: flex;
  justify-content: center;
  padding: 75px 125px;
  color: white;
}

.name {
  font-size: 25px;
  margin-bottom: 0px;
}
.info-text {
  margin: 0px 25px 0px 0px;
  max-width: 400px;
  text-align: left;
}

.info-photo {
  width: 500px;
  height: 325px;
  border-radius: 10px;
  border-color: #104d0d;
  border-style: solid;
  border-width: 3px;
}

.profile-pics {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border-color: #104d0d;
  border-style: solid;
  border-width: 3px;
}

.team-header {
  background-color: white;
  padding: 20px;
  margin: 0px;
}

.team {
  display: flex;
  justify-content: center;
  padding: 0px 125px 25px;
  background-color: white;
}

.card {
  margin: 0px 25px;
}

.quote {
  background-color: lightgray;
  padding: 25px 150px;
}

.special-quote {
  font-size: 40px;
  font-style: italic;
}

.quote-sayer {
  font-size: 16px;
  font-style: normal;
  text-align: end;
  margin: 0px;
}

.contact-background {
  background-color: white;
}

.contact {
  background-color: #104d0d;
  margin: 100px 150px;
  padding: 25px 75px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-header {
  margin-bottom: 0px;
  font-size: 24px;
}

.contact-button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}
.footer {
  padding: 25px;
  color: white;
}
